<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chs</key>
		<string>[微笑]</string>
		<key>cht</key>
		<string>[微笑]</string>
		<key>gif</key>
		<string>gif/1F604@2x.gif</string>
		<key>png</key>
		<string>1F604@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[色]</string>
		<key>cht</key>
		<string>[色]</string>
		<key>gif</key>
		<string>gif/1F637@2x.gif</string>
		<key>png</key>
		<string>1F637@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[发呆]</string>
		<key>cht</key>
		<string>[发呆]</string>
		<key>gif</key>
		<string>gif/1F602@2x.gif</string>
		<key>png</key>
		<string>1F602@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[得意]</string>
		<key>cht</key>
		<string>[得意]</string>
		<key>gif</key>
		<string>gif/1F61D@2x.gif</string>
		<key>png</key>
		<string>1F61D@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[流泪]</string>
		<key>cht</key>
		<string>[流泪]</string>
		<key>gif</key>
		<string>gif/1F632@2x.gif</string>
		<key>png</key>
		<string>1F632@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[害羞]</string>
		<key>cht</key>
		<string>[害羞]</string>
		<key>gif</key>
		<string>gif/1F633@2x.gif</string>
		<key>png</key>
		<string>1F633@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[闭嘴]</string>
		<key>cht</key>
		<string>[闭嘴]</string>
		<key>gif</key>
		<string>gif/1F631@2x.gif</string>
		<key>png</key>
		<string>1F631@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[睡]</string>
		<key>cht</key>
		<string>[睡]</string>
		<key>gif</key>
		<string>gif/1F614@2x.gif</string>
		<key>png</key>
		<string>1F614@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[大哭]</string>
		<key>cht</key>
		<string>[大哭]</string>
		<key>gif</key>
		<string>gif/1F609@2x.gif</string>
		<key>png</key>
		<string>1F609@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[尴尬]</string>
		<key>cht</key>
		<string>[尴尬]</string>
		<key>gif</key>
		<string>gif/1F60C@2x.gif</string>
		<key>png</key>
		<string>1F60C@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[发怒]</string>
		<key>cht</key>
		<string>[发怒]</string>
		<key>gif</key>
		<string>gif/1F612@2x.gif</string>
		<key>png</key>
		<string>1F612@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[呲牙]</string>
		<key>cht</key>
		<string>[呲牙]</string>
		<key>gif</key>
		<string>gif/1F608@2x.gif</string>
		<key>png</key>
		<string>1F608@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>gif/1F47B@2x.gif</string>
		<key>png</key>
		<string>1F47B@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[难过]</string>
		<key>cht</key>
		<string>[难过]</string>
		<key>gif</key>
		<string>gif/1F49D@2x.gif</string>
		<key>png</key>
		<string>1F49D@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[冷汗]</string>
		<key>cht</key>
		<string>[冷汗]</string>
		<key>gif</key>
		<string>gif/1F64F@2x.gif</string>
		<key>png</key>
		<string>1F64F@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[吐]</string>
		<key>cht</key>
		<string>[吐]</string>
		<key>gif</key>
		<string>gif/1F4AA@2x.gif</string>
		<key>png</key>
		<string>1F4AA@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[傲慢]</string>
		<key>cht</key>
		<string>[傲慢]</string>
		<key>gif</key>
		<string>gif/1F382@2x.gif</string>
		<key>png</key>
		<string>1F382@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[疲劳]</string>
		<key>cht</key>
		<string>[疲劳]</string>
		<key>gif</key>
		<string>gif/1F388@2x.gif</string>
		<key>png</key>
		<string>1F388@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[惊恐]</string>
		<key>cht</key>
		<string>[惊恐]</string>
		<key>gif</key>
		<string>gif/1F381@2x.gif</string>
		<key>png</key>
		<string>1F381@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[流汗]</string>
		<key>cht</key>
		<string>[流汗]</string>
		<key>gif</key>
		<string>gif/1F60D@2x.gif</string>
		<key>png</key>
		<string>1F60D@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[奋斗]</string>
		<key>cht</key>
		<string>[奋斗]</string>
		<key>gif</key>
		<string>gif/1F60A@2x.gif</string>
		<key>png</key>
		<string>1F60A@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[咒骂]</string>
		<key>cht</key>
		<string>[咒骂]</string>
		<key>gif</key>
		<string>gif/1F60E@2x.gif</string>
		<key>png</key>
		<string>1F60E@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[疑问]</string>
		<key>cht</key>
		<string>[疑问]</string>
		<key>gif</key>
		<string>gif/1F61C@2x.gif</string>
		<key>png</key>
		<string>1F61C@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[嘘]</string>
		<key>cht</key>
		<string>[嘘]</string>
		<key>gif</key>
		<string>gif/1F61B@2x.gif</string>
		<key>png</key>
		<string>1F61B@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[晕]</string>
		<key>cht</key>
		<string>[晕]</string>
		<key>gif</key>
		<string>gif/1F62B@2x.gif</string>
		<key>png</key>
		<string>1F62B@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[骷髅]</string>
		<key>cht</key>
		<string>[骷髅]</string>
		<key>gif</key>
		<string>gif/1F62A@2x.gif</string>
		<key>png</key>
		<string>1F62A@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[再见]</string>
		<key>cht</key>
		<string>[再见]</string>
		<key>gif</key>
		<string>gif/1F62C@2x.gif</string>
		<key>png</key>
		<string>1F62C@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[擦汗]</string>
		<key>cht</key>
		<string>[擦汗]</string>
		<key>gif</key>
		<string>gif/1F62D@2x.gif</string>
		<key>png</key>
		<string>1F62D@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[抠鼻]</string>
		<key>cht</key>
		<string>[抠鼻]</string>
		<key>gif</key>
		<string>gif/1F60F@2x.gif</string>
		<key>png</key>
		<string>1F60F@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[鼓掌]</string>
		<key>cht</key>
		<string>[鼓掌]</string>
		<key>gif</key>
		<string>gif/1F61A@2x.gif</string>
		<key>png</key>
		<string>1F61A@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[坏笑]</string>
		<key>cht</key>
		<string>[坏笑]</string>
		<key>gif</key>
		<string>gif/1F62E@2x.gif</string>
		<key>png</key>
		<string>1F62E@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[哈欠]</string>
		<key>cht</key>
		<string>[哈欠]</string>
		<key>gif</key>
		<string>gif/1F624@2x.gif</string>
		<key>png</key>
		<string>1F624@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[鄙视]</string>
		<key>cht</key>
		<string>[鄙视]</string>
		<key>gif</key>
		<string>gif/1F623@2x.gif</string>
		<key>png</key>
		<string>1F623@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[委屈]</string>
		<key>cht</key>
		<string>[委屈]</string>
		<key>gif</key>
		<string>gif/1F627@2x.gif</string>
		<key>png</key>
		<string>1F627@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[阴险]</string>
		<key>cht</key>
		<string>[阴险]</string>
		<key>gif</key>
		<string>gif/1F634@2x.gif</string>
		<key>png</key>
		<string>1F634@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[亲亲]</string>
		<key>cht</key>
		<string>[亲亲]</string>
		<key>gif</key>
		<string>gif/1F622@2x.gif</string>
		<key>png</key>
		<string>1F622@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[眨眼睛]</string>
		<key>cht</key>
		<string>[眨眼睛]</string>
		<key>gif</key>
		<string>gif/1F613@2x.gif</string>
		<key>png</key>
		<string>1F613@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[笑哭]</string>
		<key>cht</key>
		<string>[笑哭]</string>
		<key>gif</key>
		<string>gif/1F605@2x.gif</string>
		<key>png</key>
		<string>1F605@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[泪奔]</string>
		<key>cht</key>
		<string>[泪奔]</string>
		<key>gif</key>
		<string>gif/1F603@2x.gif</string>
		<key>png</key>
		<string>1F603@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[托腮]</string>
		<key>cht</key>
		<string>[托腮]</string>
		<key>gif</key>
		<string>gif/1F618@2x.gif</string>
		<key>png</key>
		<string>1F618@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[卖萌]</string>
		<key>cht</key>
		<string>[卖萌]</string>
		<key>gif</key>
		<string>gif/1F601@2x.gif</string>
		<key>png</key>
		<string>1F601@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[斜眼笑]</string>
		<key>cht</key>
		<string>[斜眼笑]</string>
		<key>gif</key>
		<string>gif/1F640@2x.gif</string>
		<key>png</key>
		<string>1F640@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[吐血]</string>
		<key>cht</key>
		<string>[吐血]</string>
		<key>gif</key>
		<string>gif/270C@2x.gif</string>
		<key>png</key>
		<string>270C@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[激动]</string>
		<key>cht</key>
		<string>[激动]</string>
		<key>gif</key>
		<string>gif/1F3C3@2x.gif</string>
		<key>png</key>
		<string>1F3C3@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[僵住]</string>
		<key>cht</key>
		<string>[僵住]</string>
		<key>gif</key>
		<string>gif/1F4A3@2x.gif</string>
		<key>png</key>
		<string>1F4A3@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[幸福]</string>
		<key>cht</key>
		<string>[幸福]</string>
		<key>gif</key>
		<string>gif/1F4A4@2x.gif</string>
		<key>png</key>
		<string>1F4A4@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[切]</string>
		<key>cht</key>
		<string>[切]</string>
		<key>gif</key>
		<string>gif/1F4A9@2x.gif</string>
		<key>png</key>
		<string>1F4A9@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[茫然]</string>
		<key>cht</key>
		<string>[茫然]</string>
		<key>gif</key>
		<string>gif/1F6B6@2x.gif</string>
		<key>png</key>
		<string>1F6B6@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[大笑]</string>
		<key>cht</key>
		<string>[大笑]</string>
		<key>gif</key>
		<string>gif/1F40E@2x.gif</string>
		<key>png</key>
		<string>1F40E@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[中毒]</string>
		<key>cht</key>
		<string>[中毒]</string>
		<key>gif</key>
		<string>gif/1F41C@2x.gif</string>
		<key>png</key>
		<string>1F41C@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[石化]</string>
		<key>cht</key>
		<string>[石化]</string>
		<key>gif</key>
		<string>gif/1F41D@2x.gif</string>
		<key>png</key>
		<string>1F41D@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[羞愧]</string>
		<key>cht</key>
		<string>[羞愧]</string>
		<key>gif</key>
		<string>gif/1F41A@2x.gif</string>
		<key>png</key>
		<string>1F41A@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[爱你]</string>
		<key>cht</key>
		<string>[爱你]</string>
		<key>gif</key>
		<string>gif/1F42E@2x.gif</string>
		<key>png</key>
		<string>1F42E@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[沮丧]</string>
		<key>cht</key>
		<string>[沮丧]</string>
		<key>gif</key>
		<string>gif/1F42F@2x.gif</string>
		<key>png</key>
		<string>1F42F@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	
	<dict>
		<key>chs</key>
		<string>[OK]</string>
		<key>cht</key>
		<string>[OK]</string>
		<key>gif</key>
		<string>gif/1F43C@2x.gif</string>
		<key>png</key>
		<string>1F43C@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[点赞]</string>
		<key>cht</key>
		<string>[点赞]</string>
		<key>gif</key>
		<string>gif/1F43E@2x.gif</string>
		<key>png</key>
		<string>1F43E@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
    
    
    
    <dict>
        <key>chs</key>
        <string>[握手]</string>
        <key>cht</key>
        <string>[握手]</string>
        <key>gif</key>
        <string>gif/1F440@2x.gif</string>
        <key>png</key>
        <string>1F440@2x.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>[胜利]</string>
        <key>cht</key>
        <string>[胜利]</string>
        <key>gif</key>
        <string>gif/1F441@2x.gif</string>
        <key>png</key>
        <string>1F441@2x.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>[抱拳]</string>
        <key>cht</key>
        <string>[抱拳]</string>
        <key>gif</key>
        <string>gif/1F442@2x.gif</string>
        <key>png</key>
        <string>1F442@2x.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    <dict>
        <key>chs</key>
        <string>[拳头]</string>
        <key>cht</key>
        <string>[拳头]</string>
        <key>gif</key>
        <string>gif/1F443@2x.gif</string>
        <key>png</key>
        <string>1F443@2x.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
    
    <dict>
        <key>chs</key>
        <string>[爱心]</string>
        <key>cht</key>
        <string>[爱心]</string>
        <key>gif</key>
        <string>gif/1F41F@2x.gif</string>
        <key>png</key>
        <string>1F41F@2x.png</string>
        <key>type</key>
        <string>0</string>
    </dict>
	<dict>
		<key>chs</key>
		<string>[太阳]</string>
		<key>cht</key>
		<string>[太阳]</string>
		<key>gif</key>
		<string>gif/1F44C@2x.gif</string>
		<key>png</key>
		<string>1F44C@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[月亮]</string>
		<key>cht</key>
		<string>[月亮]</string>
		<key>gif</key>
		<string>gif/1F44D@2x.gif</string>
		<key>png</key>
		<string>1F44D@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[星星]</string>
		<key>cht</key>
		<string>[星星]</string>
		<key>gif</key>
		<string>gif/1F44E@2x.gif</string>
		<key>png</key>
		<string>1F44E@2x.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
</array>
</plist>
