<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Emoji</key>
	<dict>
		<key>isLargeEmoji</key>
		<false/>
		<key>isCode</key>
		<false/>
		<key>emojCatalogName</key>
		<string>default</string>
		<key>emojCatalogNameDescription</key>
		<string>cube_ware_emoji</string>
		<key>emojCatalogImageNameUrlString</key>
		<string>icon/cube_ware_emoji_normal@2x.png</string>
		<key>index</key>
		<integer>0</integer>
		<key>emojCatalogUrlString</key>
		<string>Emoji/cw_emoji/</string>
	</dict>
	<key>Chartlet</key>
	<array>
		<dict>
			<key>isLargeEmoji</key>
			<true/>
			<key>isCode</key>
			<false/>
			<key>emojCatalogName</key>
			<string>lxh</string>
			<key>emojCatalogNameDescription</key>
			<string>lxh</string>
			<key>emojCatalogImageNameUrlString</key>
			<string>icon/lxh_xiaohaha.png</string>
			<key>index</key>
			<integer>1</integer>
			<key>emojCatalogUrlString</key>
			<string>Chartlet/lxh/</string>
		</dict>
		<dict>
			<key>isLargeEmoji</key>
			<false/>
			<key>isCode</key>
			<false/>
			<key>emojCatalogName</key>
			<string>ajmd</string>
			<key>emojCatalogNameDescription</key>
			<string>ajmd</string>
			<key>emojCatalogImageNameUrlString</key>
			<string>icon/ajmd_s_normal@2x.png</string>
			<key>index</key>
			<integer>2</integer>
			<key>emojCatalogUrlString</key>
			<string>Chartlet/ajmd/</string>
		</dict>
		<dict>
			<key>isLargeEmoji</key>
			<false/>
			<key>isCode</key>
			<false/>
			<key>emojCatalogName</key>
			<string>xxy</string>
			<key>emojCatalogNameDescription</key>
			<string>xxy</string>
			<key>emojCatalogImageNameUrlString</key>
			<string>icon/xxy_s_normal@2x.png</string>
			<key>index</key>
			<integer>3</integer>
			<key>emojCatalogUrlString</key>
			<string>Chartlet/xxy/</string>
		</dict>
	</array>
</dict>
</plist>
